//此文件包括一切适应手机屏幕的调整
//默认情况下 隐藏listwidget 只在手机屏幕上显示
@import "gen";

#list-widget{
  display: none;
  //下面为列表面板设置部分
  #list-plane{
    //选择按钮
    a{
      display: block;
      width: 100px;
      line-height: 2.5;
      text-decoration: none;
      color:black;
      font-size: 1.2em;
      font-weight: bold;
      &:active{
        background-color: rgba(210, 210, 210, 0.62);
      }
      text-align: center;
    }
  }
}
#left-return{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: black 0 0 2px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  img{
    height: 100%;
    width: 100%;
  }
  //默认隐藏
  display: none!important;
}

@media screen {
  @media (max-width: 650px) {
    //隐藏上方分类栏
    //显示下方列表按钮
    #tabs {
      display: none;
    }
    #left.active>#left-return{
      display: block!important;
    }
    #widgets {

      [id*="plane"] {
        //设定面板从手机右边出现
        position: fixed!important;
        right: -100%!important;
        bottom: 200px!important;
        display: block!important;
        transition: all 0.5s ease;
        &.active{
          right: 0!important;
        }
      }
      #list-widget {
        display: block !important;
      }
      & > div {
        height: 35px !important;
        width: 35px !important;
        margin-right: 0 !important;
      }


    }
      //让left栏显示时占据屏幕
      #left {
        position: fixed;
        width: 100% !important;
        height: 100%;
        display: none;
        z-index: 999;
        //添加显示动画
        animation: mobile_leftdisplay 0.6s ease;
        &.active {
          display: block;
        }
        * {
          animation: none !important;
        }
      }

    .litem {
      margin-left: 0 !important;
      margin-right: 20px;
      width: 150px!important;
      height: 180px!important;

    }
    }
  }